Presence Tracking.json
[{"id":"acc310c8.4a9f6","type":"tab","label":"Presence Tracking","disabled":false,"info":""},{"id":"cf5d649b.939d48","type":"switch","z":"acc310c8.4a9f6","name":"Home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":540,"y":500,"wires":[["8aeff116.1f28d","696412d5.51168c","c6064eda.c17e"],["20fc680a.b52378","eed65e83.79d3b"]]},{"id":"8aeff116.1f28d","type":"api-current-state","z":"acc310c8.4a9f6","name":"Status?","server":"bff612da.ea51b","version":1,"outputs":2,"halt_if":"Just Left","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":680,"y":480,"wires":[["cd012921.352698"],["1d5c9a6b.fbe026"]]},{"id":"d76fe525.e334b8","type":"api-call-service","z":"acc310c8.4a9f6","name":"Just Left","server":"bff612da.ea51b","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Left\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":520,"wires":[["696412d5.51168c"]]},{"id":"cd012921.352698","type":"api-call-service","z":"acc310c8.4a9f6","name":"Just Arrived","server":"bff612da.ea51b","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Just Arrived\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":460,"wires":[["eed65e83.79d3b","89c6d41.a8b3628"]]},{"id":"c118e5b7.2b3078","type":"api-call-service","z":"acc310c8.4a9f6","name":"Away","server":"bff612da.ea51b","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":520,"wires":[["c6064eda.c17e"]]},{"id":"c221cb9c.ade098","type":"api-call-service","z":"acc310c8.4a9f6","name":"Extended Away","server":"bff612da.ea51b","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Extended Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1360,"y":520,"wires":[[]]},{"id":"696412d5.51168c","type":"trigger","z":"acc310c8.4a9f6","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"home","bytopic":"topic","outputs":1,"x":970,"y":520,"wires":[["c118e5b7.2b3078"]]},{"id":"c6064eda.c17e","type":"trigger","z":"acc310c8.4a9f6","name":"24hr","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"24","extend":false,"units":"hr","reset":"home","bytopic":"topic","outputs":1,"x":1210,"y":520,"wires":[["c221cb9c.ade098"]]},{"id":"eed65e83.79d3b","type":"trigger","z":"acc310c8.4a9f6","name":"10min","op1":"","op2":"{\"payload\":{\"data\":{\"option\":\"\"}}}","op1type":"nul","op2type":"json","duration":"10","extend":false,"units":"min","reset":"not_home","bytopic":"topic","outputs":1,"x":970,"y":460,"wires":[["1d5c9a6b.fbe026"]]},{"id":"1d5c9a6b.fbe026","type":"api-call-service","z":"acc310c8.4a9f6","name":"Home","server":"bff612da.ea51b","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"","data":"{\"entity_id\":\"input_select.{{topic}}\",\"option\":\"Home\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":480,"wires":[["89c6d41.a8b3628"]]},{"id":"394bef96.49598","type":"trigger-state","z":"acc310c8.4a9f6","name":"Person","server":"bff612da.ea51b","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"^person\\..*$","entityidfiltertype":"regex","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"prevEntity","comparatorValue":"state","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":300,"y":500,"wires":[["6d9608e8.d57138"],[]]},{"id":"20fc680a.b52378","type":"api-current-state","z":"acc310c8.4a9f6","name":"Status?","server":"bff612da.ea51b","version":1,"outputs":2,"halt_if":"Just Left,Away, Extended Away","halt_if_type":"str","halt_if_compare":"does_not_include","override_topic":false,"entity_id":"input_select.{{topic}}","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":680,"y":520,"wires":[["d76fe525.e334b8"],[]]},{"id":"6d9608e8.d57138","type":"change","z":"acc310c8.4a9f6","name":"Change","rules":[{"t":"change","p":"topic","pt":"msg","from":"person.","fromt":"str","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"payload = \"home\" ? \"home\" : \"not_home\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":500,"wires":[["34d0d8f4.406c98"]],"l":false},{"id":"34d0d8f4.406c98","type":"rbe","z":"acc310c8.4a9f6","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":445,"y":500,"wires":[["cf5d649b.939d48"]],"l":false},{"id":"aee097ef.9df618","type":"server-state-changed","z":"acc310c8.4a9f6","name":"Robert?","server":"bff612da.ea51b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.robert_grimes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":440,"wires":[["394bef96.49598"]]},{"id":"f054aed4.d9054","type":"server-state-changed","z":"acc310c8.4a9f6","name":"Virginia?","server":"bff612da.ea51b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.virginia_grimes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":500,"wires":[["394bef96.49598"]]},{"id":"fef89340.9a11a","type":"server-state-changed","z":"acc310c8.4a9f6","name":"Parker?","server":"bff612da.ea51b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.parker_grimes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":110,"y":560,"wires":[["394bef96.49598"]]},{"id":"8c7a5ade.8c6a68","type":"server-state-changed","z":"acc310c8.4a9f6","name":"Bryson?","server":"bff612da.ea51b","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.bryson_grimes","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":620,"wires":[["394bef96.49598"]]},{"id":"89c6d41.a8b3628","type":"debug","z":"acc310c8.4a9f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1310,"y":460,"wires":[]},{"id":"bff612da.ea51b","type":"server","name":"HomeAssistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]